.login-bg{
  &::before{
    content: "";
    /* background: #f1f1f1; */
    position: absolute;
    /* border-right: transparent 200px;
    border-left: 40vw #f1f1f1 solid;
    border-top : 200px solid #f1f1f1;
    border-bottom: transparent 50vh solid; */
    width: 200px;
    height: 100%;
    left: 0;
  }
}

.login-form .row.align-items-center{
  min-height: 100vh;
}

.user-info{
  width: 70px;
  height: 70px;
  display: block;
  margin: auto;
}

.form-control{
  border-radius: 30px !important;
  padding: 20px 25px !important;  
}

.btn{
  border-radius: 30px !important;
  padding-left : 25px !important;
  padding-right : 25px !important; 
  letter-spacing: 5px;
}