@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "./custom-variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

$sidebar-width : 300px;
$sidebar-min-width : 70px;
$sidebar-item-height : 70px;
$topbar-height : 70px;

body{
    background: $gray-150;
}
.card{
    border:0;
    border-radius: 0;
    width: 100%;
    .badge-light{
        background: $gray-200;
        color: $gray-700;
        padding: 5px 10px;
        font-weight: 400;
    }
}

.bg-dark{
    background: darken($primary, 30%) !important;
}

.border-dark{
    border-color: darken($primary, 34%) !important;
}

.text-extra-muted{
    color: $gray-500;
}

.full-height-container{
    height: 100vh;
    max-height: 100vh;
    overflow: auto;
    &::-webkit-scrollbar {
        width: 10px;
        margin-left: -10px;
        -webkit-appearance: none;
      }
      &::-webkit-scrollbar:horizontal {
        height: 10px;
      }
      // &::-webkit-scrollbar-button {    }
      &::-webkit-scrollbar-track {
        background-color: lighten($gray-300, 5%);
      }
      // &::-webkit-scrollbar-track-piece {    }
      &::-webkit-scrollbar-thumb {
        height: 50px;
        background-color: darken($gray-200, 10%);
        background-clip: content-box;
        border-color: transparent;
        border-style: solid;
        border-width: 1px 2px;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb:horizontal {
        width: 10px;
      }
      &.dark-scrollbar {
        // &::-webkit-scrollbar-button {    }
        &::-webkit-scrollbar-track {
          background-color: lighten($primary, 5%);
        }
        // &::-webkit-scrollbar-track-piece {    }
        &::-webkit-scrollbar-thumb {
          background-color: darken($primary, 10%);
        }
      }
}

.bg-extra-light{
    background: lighten($gray-100, 1%);
}

.border-med-light{
    border-color: lighten($gray-200, 1%) !important;
}

nav{
    min-height: 70px;
    border-bottom: $gray-100 solid 1px;
}

.badge-border{
    padding: 10px 20px !important;
    border: $gray-300 solid 1px;
    border-radius: 30px;
    margin-right: 5px;
}

.question-type-section{
    background: $gray-150;
}

.questions-section{
    //background: $gray-150;
    border-left: $gray-100 solid 1px;
    .card{
        border-bottom: $gray-150 solid 1px !important;

        .question-title a{
            color: $gray-600 !important;
            font-weight: bold;
        }

        &.active{
            background: #fff;
        }
    }
}

.form-control{
    border-radius: 30px !important;
    padding: 20px 25px !important;  
  }
  
  .btn{
    border-radius: 30px !important;
    padding-left : 25px !important;
    padding-right : 25px !important; 
    letter-spacing: 3px;
  }

  .sidebar{
      width: $sidebar-width;
      position: fixed;
      height: 100vh;
      background: #fff;
      box-shadow: 0 0 15px $gray-200;
      z-index: 1;
      left:0;
      .menu-icon{
          background: $secondary;
          width: $sidebar-min-width;
          height: $sidebar-item-height;
          display: block;
          i{
            font-size: 32px;
           }
        }
        .nav-link{
            min-height: $sidebar-item-height;
            border-bottom: $gray-150 solid 1px;
            padding: 20px 0;
            text-align: center;
            color: $gray-500; 
            i{
                margin-top: 5px;
            }
            &.active{
                color: $primary;
            }
        }
        &.minimized{
            width: $sidebar-min-width;
        }
  }

  .floating-cntr{
    position: absolute;
    right: 10px;
    transform: translate(0%, 0%); 
    z-index: 1;
  }
  .rounded-btn{
      width:50px;
      height: 50px;
      text-align: center;
      display: inline-flex;
      border-radius: 50px;
      padding: 13px;
      transform: scale(0.8, 0.8);

  }

  .top-header{
      min-height: $topbar-height;
      .nav{
        .nav-link{
            min-height: $topbar-height;
            padding: 35px 5px 5px 5px;
            color: $gray-600;
            margin-bottom: -1px;
            small{
                font-weight: bold;
            }
            &.active{
                border-bottom: $primary solid 2px;
                color: $primary;
                &:hover{
                    border-bottom: $primary solid 2px;
                }
            }
            &:hover{
                border-bottom: $secondary solid 2px;
            }
            margin-right: 20px;
        }
      }
  }


  
