@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "./custom-variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body{
    background: $gray-150;
}
.card{
    border:0;
    border-radius: 0;
    width: 100%;
    .badge-light{
        background: $gray-200;
        color: $gray-700;
        padding: 5px 10px;
        font-weight: 400;
    }
}

.bg-dark{
    background: darken($primary, 30%) !important;
}

.sidebar{
    // position: fixed;
    left: 0;
    width: 60px;
    background: #fff;
}

.full-height-container{
    height: 100vh;
    max-height: 100vh;
    overflow: auto;
    &::-webkit-scrollbar {
        width: 10px;
        margin-left: -10px;
        -webkit-appearance: none;
      }
      &::-webkit-scrollbar:horizontal {
        height: 10px;
      }
      // &::-webkit-scrollbar-button {    }
      &::-webkit-scrollbar-track {
        background-color: lighten($gray-300, 5%);
      }
      // &::-webkit-scrollbar-track-piece {    }
      &::-webkit-scrollbar-thumb {
        height: 50px;
        background-color: darken($gray-200, 10%);
        background-clip: content-box;
        border-color: transparent;
        border-style: solid;
        border-width: 1px 2px;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb:horizontal {
        width: 10px;
      }
      &.dark-scrollbar {
        // &::-webkit-scrollbar-button {    }
        &::-webkit-scrollbar-track {
          background-color: lighten($primary, 5%);
        }
        // &::-webkit-scrollbar-track-piece {    }
        &::-webkit-scrollbar-thumb {
          background-color: darken($primary, 10%);
        }
      }
}

nav{
    min-height: 70px;
    border-bottom: $gray-100 solid 1px;
}

.badge-border{
    padding: 10px 20px !important;
    border: $gray-300 solid 1px;
    border-radius: 30px;
    margin-right: 5px;
}

.questions-section{
    background: $gray-150;
    .card{
        border-bottom: $gray-300 solid 1px !important;

        .course-title a{
color: $gray-600 !important;
font-weight: bold;
        }

        &.active{
            background: #fff;
        }
    }
}

  
